<section id="login-container-section" class="flex flex-col h-screen w-full items-center justify-center">
    <div class="flex flex-row w-1/2">
        <div class="flex flex-col items-center justify-center w-1/2">
            <div class="flex flex-row items-center justify-center">
                <div>
                    <img src="../assets/images/logo.png" alt="Logo" class="w-20 h-20">
                </div>
                <div class="text-white">Cidadania Européia</div>
            </div>
            <div class="flex flex-row p-8 font-sans items-center justify-center text-6xl text-white">Faça seu login e veja como é simples obter a sua cidadania</div>
        </div>
        <div class="flex flex-col items-center justify-center border-custom-gray w-1/2 bg-custom-gray rounded-2xl">
            Aqui vai ficar posicionado o card
        </div>
    </div>
</section>